<ion-view view-title="Pedidos">
  <ion-content class="padding">
    <h3 class="text-center" ng-hide="pedidos.length">Nenhum pedido registrado.</h3>

    <h1 class="text-center ion-ios-list-outline larger" ng-hide="pedidos.length"></h1>

    <ion-list>
      <ion-item ng-repeat="pedido in pedidos">
        <small class="item-text-wrap">{{pedido.titulo}} - {{pedido.observacao}} - {{pedido.peso }} G - {{pedido.preco |
          currency:"R$"}}
        </small>

        <div class="row row-center">
          <div class="col">Qtd:</div>
          <div class="col"><input disabled ng-model="pedido.quantidade" size="2"></div>
          <div class="col">
            <button class="button button-small button-positive icon ion-plus-round"
                    ng-click="aumentarQuantidade(pedido)">
            </button>
          </div>
          <div class="col">
            <button class="button button-small button-energized icon ion-minus-round"
                    ng-click="diminuirQuantidade(pedido)">
            </button>
          </div>
          <div class="col">
            <button class="button  button-small button-assertive icon ion-ios-close-empty"
                    ng-click="removerPedido(pedido)">
            </button>
          </div>
        </div>
      </ion-item>
    </ion-list>

    <h3 ng-show="pedidos.length"> Valor Total: {{valorTotal | currency:"R$"}} </h3>

    <button class="button button-block button-positive" ng-click="confirmarPedidos()" ng-show="pedidos.length">
      Confirmar
    </button>
    <button class="button button-block button-royal" ng-click="limparCarrinho()" ng-show="pedidos.length">Limpar
      Carrinho
    </button>
  </ion-content>
</ion-view>
