<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab href="#/tab/cardapio" icon-off="ion-fork" icon-on="ion-fork" title="Card&aacute;pio">
    <ion-nav-view name="tab-cardapio"></ion-nav-view>
  </ion-tab>

  <ion-tab href="#/tab/dash" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" title="Carrinho">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab href="#/tab/pedido" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" title="Pedidos">
    <ion-nav-view name="tab-pedido"></ion-nav-view>
  </ion-tab>

  <ion-tab href="#/tab/account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" title="Conta">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
</ion-tabs>
